SCHEMA_VER=1
APP_ENV=develop
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=value
DB_NAME=regmeeting

MEDIA_SERVER_API=http://media-server.local/api
AI_SERVER_API=http://ai-server.local/api

APP_PORT=8080
# APP_URL = http://localhost
APP_URL = https://192.168.0.100

FE_URL = https://192.168.0.100
FE_PORT = 4200

UPLOAD_DIR = ./uploads

JWT_ACCESS_SECRET=value
JWT_REFRESH_SECRET=value
JWT_ACCESS_EXPIRE_HOURS=1
JWT_REFRESH_EXPIRE_DAYS=7
GOOGLE_CLIENT_ID = value
GITHUB_CLIENT_ID = value
GITHUB_CLIENT_SECRET= value

URL_FE_APP = https://192.168.0.100:4200
